@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=IM+Fell+English+SC&display=swap');

*{margin: 0; padding: 0;}
ul{
    list-style: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

body{
    background: url(images/body_bg3.jpg) no-repeat;
}
p{
    font-family: 'IM Fell DW Pica', serif;
    color: #706e69;
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
}
iframe{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
    width: 60%;
}
.img{
    text-align: center;
    padding-top: 10px;
}

ul li{
    margin: 10px;
}
.btn img{
    width: 60%;
}
.btn a:hover{
    opacity: 0.5;
}

